<!DOCTYPE html>
<html>
<head>
    <title>Github Navigator</title>
</head>
<body>
    <h1>{{search_term}}</h1>
    {% for repository, latest_commit in results %} {{n}}
        <h2>{{loop.index}}. {{repository['name']}}</h2>
        <h3> Created {{repository['created_at']}}</h3>
        <a href="{{repository['owner']['html_url']}}"><img src="{{repository['owner']['avatar_url']}}" alt="avatar" height="42" width="42"/></a>
        {{repository['owner']['login']}}
        <h3>LastCommit</h3>
        {{latest_commit['sha']}} {{latest_commit['commit']['message']}}  {{latest_commit['commit']['author']['name']}}
        <hr/>
    {% endfor %}
</body>
</html>
